anyio==4.3.0
certifi==2024.2.2
cffi==1.16.0
cryptography==42.0.5
curl-cffi==0.5.9
exceptiongroup==1.2.0
h11==0.14.0
httpcore==1.0.5
httpx==0.26.0
idna==3.6
pycparser==2.21
pycryptodome==3.20.0
python-dotenv==1.0.1
python-telegram-bot==20.8
git+https://github.com/Zai-Kun/reverse-engineered-chatgpt.git@ac2c3b7849f8620e4afe883f73339257e14e5694
sniffio==1.3.1
typing_extensions==4.10.0
