anyio==4.4.0
certifi==2024.6.2
cffi==1.16.0
cryptography==42.0.7
curl-cffi==0.5.9
exceptiongroup==1.2.1
h11==0.14.0
httpcore==1.0.5
idna==3.7
pycparser==2.22
pycryptodome==3.20.0
python-dotenv==1.0.1
python-telegram-bot==21.2
git+https://github.com/Zai-Kun/reverse-engineered-chatgpt.git@ac2c3b7849f8620e4afe883f73339257e14e5694
sniffio==1.3.1
typing_extensions==4.12.2
